/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
.black-edition {
  background-color: black;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 59px;
}

.black-edition i {
  color: white;
}

.black-edition button {
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  font-family: inherit;
}

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 254 248 / var(--tw-bg-opacity));
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

.logout-link {
  color: black;
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.contains-portfolio {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 36%;
}
.contains-portfolio h2 {
  margin: 0;
  color: #1d6154;
  text-align: center;
  font-family: Syne;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.edit-section {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Espace entre l'icône et le bouton */
  display: none;
  /* Cacher par défaut */
  margin-bottom: 5%;
}

.edit-section i {
  cursor: pointer;
}
#edit-link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* Styles pour la modal gallery photo */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 65%;
  max-height: 70%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 5px;
  margin-top: 60px;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
  font-style: normal;
}

#projects-container {
  display: grid;
  /* Cinq colonnes de 78px */
  grid-template-columns: repeat(5, 78px);
  /* Deux lignes de hauteur 104px et une ligne auto pour la dernière image */
  grid-template-rows: repeat(2, 104px) auto;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.project-item {
  position: relative;
  width: 78px;
  height: 104px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #000;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.separator-line {
  width: 400px;
  height: 1px;
  background-color: #b3b3b3;
  margin: 50px auto;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}

#add-photo-button {
  display: block;
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  text-align: center;
  line-height: 36px;
  font-family: "Syne";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 30px auto;
}

/* deuxième modal */

#modal-add-photo .modal-content {
  position: relative;
  padding: 20px;
  width: 65%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-add-photo .modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

#modal-add-photo input,
#modal-add-photo select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#modal-add-photo input {
  width: 400px;
}

#modal-add-photo select {
  width: 420px;
}

#add-photo-input {
  margin: 0 auto;
  max-width: 420px;
}

.back-arrow {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.photo-card {
  background-color: #e8f1f6;
  /* Assure-toi que la couleur reste inchangée */
  padding: 0 20px;
  /* Ajoute un peu d'espace sur les côtés */
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.photo-card i {
  font-size: 48px;
  color: #888;
  margin-top: 20px;
}

.photo-icon {
  font-size: 48px;
  /* Ajuste la taille selon tes besoins */
  margin-bottom: 10px;
  /* Assure un espace suffisant */
}

.add-photo-button-in-card {
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  border: none;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  /* Centrer horizontalement le bouton dans son conteneur */
  cursor: pointer;
}

.info {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Assure que le conteneur prend toute la hauteur */
}

.image-preview {
  max-width: 100%;
  max-height: 168px;
  object-fit: contain;
  /* Pour s'assurer que l'image garde ses proportions */
  display: none;
  margin: auto 0;
  /* Hide image preview initially */
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.styleInput {
  height: 51px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
}

.fa-regular {
  color: #b9c5cc !important;
}

/* Ligne en bas de la modal */
.modal-footer {
  margin-top: 20px;
  text-align: center;
}

.footer-line {
  border: 0;
  border-top: 1px solid #b3b3b3;
  /* Couleur et style de la ligne */
  margin-bottom: 20px;
  /* Espacement entre la ligne et le bouton */
}

/* Style du bouton Valider */

.validate-button {
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  border: none;
  border-radius: 60px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-footer button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Styles pour les boutons de filtres */
.filters {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.filters button {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: #fffef8;
  margin: 0;
  border: 1px solid #1d6154;
  text-align: center;
  border-radius: 60px;
  font-size: 110%;
  cursor: pointer;
  padding: 10px;
}

.active-filter {
  color: white !important;
  background-color: #1d6154 !important;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#contact a {
  text-align: center;
  display: block;
  margin-top: 10px;
}
#contact {
  display: flex;
  flex-direction: column;
}
.nav-icon {
  height: 20px;
  width: auto;
  display: block;
}
